@model IEnumerable<FootballApp.WebUI.Models.NewsDisplayViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="wrap">
    <h1>
    Whats new?
    </h1>
    <h2>DreamTeam webapp v1.0</h2>
    <div class="news-items">
        @foreach(var n in Model)
        {
            <div class="news-item">
                <div class="news-time">
                    @n.Time
                </div>
                <div class="news-title">
                    @n.Title
                </div>
                <div class="news-text">
                    @n.Text
                </div>
            </div>
        }

    </div>
</div>
<div class="modal" id="modal">
    <div class="modal-content">
        <span class="modal-close" id="modal-close">&times;</span>
        <div class="modal-news-wrap">
            <div class="modal-time">
            </div>
            <div class="modal-title">
            </div>
            <div class="modal-text">
            </div>
        </div>
    </div>
</div>
@Styles.Render("/Content/Css/Home/Home.css")
@Scripts.Render("/Scripts/Home/Home.js")