@model IEnumerable<FootballApp.WebUI.Models.FriendViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="friends-navigation">
    <div class="friends-nav-item">
        <button class="friends-button active" id="All-nav">All</button>
    </div>
    <div class="friends-nav-item">
        <button class="friends-button" id="pending-nav">Pending</button>
    </div>
    <div class="friends-nav-item">
        <button class="friends-button">AddFriends</button>
    </div>
</div>
<div class="friends-content">
    <div class="friends-content-item" style="display:block;" id="All">
        <div class="allfriends"id="allfriends">
            @if(Model != null && Model.Count() > 0)
            {

            foreach(var item in Model)
            {
                <div class="friends-item" id="friend-@item.Id">
                    <div class="friends-info">
                        @if (item.ImageSource != "")
                        {
                            <img class="friends-image" src="@item.ImageSource" />

                        }
                        else
                        {
                            <img class="friends-image" src="~/Content/Images/emptypfp.png" />
                        }
                        
                        <p>@item.Name</p>
                    </div>
                    <div class="friends-options">
                        <button class="friends-options-msg"><span class="friends-msg-ico"></span></button>
                        <button class="friends-options-dropdown" onclick="OpenDropdown(this)" value="@item.Id"></button>
                    </div>
                </div>

            }
            }
            else
            {
                <div class="allfriends-msg">It appears that you have no friends.To add some click on AddFriends above.</div>
            }
        </div>
            <div class="dropdown-options" id="dropdown">
                <button class="dropdown-option" id="remove-friend" onclick="RemoveFriend(this)">Remove</button>
                <button class="dropdown-option" id="invite-friend" onclick="OpenInviteModal(this)">Invite</button>
            </div>
            <div class="invite-modal" id="invite-modal">
                <div class="invite-modal-content" id="invite-modal-content">
                    <span class="invite-modal-close" id="invite-modal-close" onclick="CloseModal()">&times;</span>
                    <h1>Invite friends to a Team</h1>
                    <p class="invite-modal-msgsuccess" id="invite-result-msgsuccess"></p>
                    <p class="invite-modal-msgerror" id="invite-result-msgerror"></p>
                    <div class="invite-modal-items" id="invite-modal-items">                       

                    </div>
                </div>
            </div>
    </div>
    <div class="friends-content-item" id="Pending">
        <div class="requests" id="Pending-requests">
        </div>
    </div>
    <div class="friends-content-item" id="AddFriends">
        <div class="add-friends-form">
            <h1>Add a friend</h1>
            <p class="add-friends-form-message">You can add a friend using their username.Names are not case sensitive.</p>
            <p class="addfriends-success"></p>
            <p class="addfriends-fail"></p>
            <input type="text" id="Add-friend-input" placeholder="Username" autocomplete="off" />
            <button id="add-friend-button">Send friend request</button>
        </div>
    </div>
</div>

@Scripts.Render("/Scripts/Friends/FriendsIndex.js")
@Styles.Render("~/Content/Css/Friends/FriendsIndex.css")