@model IEnumerable<FootballApp.WebUI.Models.FriendViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="friends-navigation">
    <div class="friends-nav-item">
        <button class="friends-button active">All</button>
    </div>
    <div class="friends-nav-item">
        <button class="friends-button">Pending</button>
    </div>
    <div class="friends-nav-item">
        <button class="friends-button">AddFriends</button>
    </div>
</div>
<div class="friends-content">
    <div class="friends-content-item" style="display:block;" id="All">
        <div class="allfriends">
            @if(Model != null && Model.Count() > 0)
            {

            foreach(var item in Model)
            {
                <div class="friends-item">
                    <div class="friends-info">
                        @if (item.ImageSource != "")
                        {
                            <img class="friends-image" src="@item.ImageSource" />

                        }
                        else
                        {
                            <img class="friends-image" src="~/Content/Images/emptypfp.png" />
                        }
                        
                        <p>@item.Name</p>
                    </div>
                <div class="friends-options">
                    <div class="friends-options-msg"></div>
                    <div class="friends-options-dropdown"></div>
                </div>
                </div>

            }
            }
            else
            {
                <div class="allfriends-msg">It appears that you have no friends.To add some click on AddFriends above.</div>
            }

        </div>
    </div>
    <div class="friends-content-item" id="Pending"></div>
    <div class="friends-content-item" id="AddFriends"></div>
</div>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageSource)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageSource)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>*@
@Scripts.Render("/Scripts/Friends/FriendsIndex.js")
@Styles.Render("~/Content/Css/Friends/FriendsIndex.css")