<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/Css/Layout/navigation.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navline"></div>
    <nav class="navbar">
        <div class="navbartop">
            <div class="nav-brand">
                <div class="nav-brand-icon"><img src="~/Content/Images/logo-horizontal.png"></div>
                <div class="nav-brand-text">DREAMTEAM</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon"><img src="~/Content/Images/home-ico.png"></div>
                <div class="nav-text">Home</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon"><img src="~/Content/Images/friends-ico.png"></div>
                <div class="nav-text">Friends</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon"><img src="~/Content/Images/msg-ico.png"></div>
                <div class="nav-text">Messages</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon"><img src="~/Content/Images/teams-ico.png"></div>
                <div class="nav-text">Teams</div>
            </div>
        </div>
        <div class="navbarbottom">
            <div class="nav-item">
                <div class="nav-icon"><img src="~/Content/Images/settings-ico.png"></div>
                <div class="nav-text">Settings</div>
            </div>
        </div>
    </nav>
    <main>
        @RenderBody()
    </main>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
