<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/Css/Layout/navigation.css")
    @Scripts.Render("/Scripts/jquery.signalR-2.4.1.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("/Scripts/Notifications/Notifications.js")

</head>
<body>
    <div class="navline"></div>
    <nav class="navbar">
        <div class="navbartop">
            <div class="nav-brand">
                <div class="nav-brand-icon"><img src="~/Content/Images/logo-horizontal.png"></div>
                <div class="nav-brand-text">DREAMTEAM</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon"><img src="~/Content/Images/home-ico.png"></div>
                <div class="nav-text">@Html.ActionLink("Početna", "Index", "Home")</div>
            </div>
            @if (User.IsInRole("User"))
            {

                <div class="nav-item">
                    <div class="nav-icon"><img src="~/Content/Images/friends-ico.png"></div>
                    <div class="nav-text">@Html.ActionLink("Prijatelji", "Index", "Friends")</div>
                    <div class="nav-notification" id="friends-notification"></div>
                </div>
                <div class="nav-item">
                    <div class="nav-icon"><img src="~/Content/Images/msg-ico.png"></div>
                    <div class="nav-text">@Html.ActionLink("Poruke", "Index", "PrivateChat")</div>
                    <div class="nav-notification" id="privatechat-notification"></div>
                </div>
                <div class="nav-item">
                    <div class="nav-icon"><img src="~/Content/Images/teams-ico.png"></div>
                    <div class="nav-text">@Html.ActionLink("Timovi", "Index", "Team")</div>
                    <div class="nav-notification" id="team-notification"></div>
                </div>
            }
            @if (User.IsInRole("Admin"))
            {

                <div class="nav-item">
                    <div class="nav-icon"><img style="width:2rem;" src="~/Content/Images/tournament-ico.png"></div>
                    <div class="nav-text">@Html.ActionLink("Turniri", "Index", "Tournament")</div>

                </div>
                <div class="nav-item">
                    <div class="nav-icon"><img src="~/Content/Images/news-ico.png"></div>
                    <div class="nav-text">@Html.ActionLink("Novosti", "Index", "News")</div>

                </div>
            }


        </div>
        <div class="navbarbottom">
            <div class="nav-item">
                <div class="nav-icon"><img src="~/Content/Images/infoIcon.png"></div>
                <div class="nav-text">@Html.ActionLink("Podrška", "Index", "Support")</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon"><img src="~/Content/Images/settings-ico.png"></div>
                <div class="nav-text">@Html.ActionLink("Podešavanja","Index","Manage")</div>
            </div>
            <div class="nav-item">
                <div class="nav-icon"><img src="~/Content/Images/logout-ico.png"></div>
                <div class="nav-text">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                    @Html.AntiForgeryToken()

                       <a href="javascript:document.getElementById('logoutForm').submit()">Odjavi se</a>
                    
                    }
                </div>
            </div>
        </div>
    </nav>
    <main>
        @RenderBody()
    </main>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
