@model FootballApp.WebUI.Models.FreeAgentViewModel

@{
    ViewBag.Title = "Edit";
}
<div class="freeagent-wrap">

    <h2>Izmeni</h2>

    @using (Html.BeginForm("Edit", "FreeAgent", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Profil slobodnog agenta</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @*@Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Zemlja</label>
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                    <select id="country-select">
                        <option disabled selected>Izaberi zemlju</option>
                        <option value="Srbija">Srbija</option>
                        <option value="Rusija">Rusija</option>
                        <option value="Engleska">Engleska</option>
                        <option value="Nemačka">Nemačka</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Grad</label>
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    <select id="city-select" disabled>
                        <option disabled selected>Izaberi grad</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Aktivan</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Active)
                        @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Sačuvaj" class="edit-button" />
                </div>
            </div>
        </div>
    }
</div>
@Styles.Render("~/Content/Css/FreeAgent/Edit.css")
@Scripts.Render("~/Scripts/FreeAgent/edit.js")
