@model FootballApp.WebUI.Models.TeamViewModel

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Create", "Team", FormMethod.Post, new
{
    @class = "form-horizontal",
    role = "form",
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    <div class="form-wrap">
        <h1>NAPRAVI SVOJ TIM</h1>

        @Html.ValidationSummary(true, "", new { @class = "text-error" })

        <div class="form-field">
            <div class="form-label">
                Ime
            </div>
            <div class="form-input">
                @Html.ValidationMessageFor(model => model.TeamName, "", new { @class = "text-error" })
                @Html.EditorFor(model => model.TeamName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-field">
            <div class="form-label">
                Opis
            </div>
            <div class="form-input">
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-error" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-file-field">
            <div class="form-label">
                SLIKA
            </div>
            @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-error" })
            <div class="form-file-input">
                <input type="file" name="Picture" id="Picture" accept="image/*" />
            </div>
        </div>
        <div class="button-field">
            <input class="create-button" type="submit" value="Napravi" name="Create">
        </div>
    </div>
  }
        @Styles.Render("~/Content/Css/Team/TeamCreate.css")
        <div>
            @Html.ActionLink("< Nazad na listu", "Index","Team",new { @class = "back-link" })
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
