@model FootballApp.WebUI.Models.TeamViewModel

@{
    ViewBag.Title = "Edit";
}
    <div class="form-wrap">
        <h1>IZMENI TIM</h1>


        @using (Html.BeginForm("Edit", "Team", FormMethod.Post, new
        {
            @class = "form-horizontal",
            role = "form",
            enctype = "multipart/form-data"
        }))
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-error" })

            @Html.HiddenFor(model => model.Id)

            <div class="form-field">
                <div class="form-label">
                    IME
                </div>
                <div class="form-input">
                    @Html.ValidationMessageFor(model => model.TeamName, "", new { @class = "text-error" })
                    @Html.EditorFor(model => model.TeamName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    OPIS
                </div>
                <div class="form-input">
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-error" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-file-field">
                <div class="form-label">
                    SLIKA
                </div>
                <div class="form-file-input">
                    <input type="file" name="Picture" id="Picture" accept="image/*" />
                </div>
            </div>
            <div class="button-field">
                <input class="create-button" type="submit" value="Izmeni" name="Edit">
            </div>

         }
    </div>
        <div>
            @Html.ActionLink("< Nazad na listu", "Index", "Team", new { @class = "back-link" })
        </div>

        @Styles.Render("~/Content/Css/Team/TeamCreate.css")
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
