@model FootballApp.WebUI.Models.TeamEditViewModel

@{
    ViewBag.Title = "Edit";
}
    <div class="form-wrap">
        <h1>EDIT YOUR TEAM</h1>


        @using (Html.BeginForm("Edit", "Team", FormMethod.Post, new
        {
            @class = "form-horizontal",
            role = "form",
            enctype = "multipart/form-data"
        }))
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-error" })

            @Html.HiddenFor(model => model.Id)
            <div class="form-field">
                <div class="form-label">
                    Name
                </div>
                <div class="form-input">
                    @Html.EditorFor(model => model.TeamName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TeamName, "", new { @class = "text-error" })
                </div>
            </div>
            <div class="form-field">
                <div class="form-label">
                    Description
                </div>
                <div class="form-input">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-error" })
                </div>
            </div>
            <div class="form-file-field">
                <div class="form-label">
                    Image
                </div>
                <div class="form-file-input">
                    <input type="file">
                </div>
            </div>
            <div class="button-field">
                <input class="create-button" type="submit" value="Edit" name="Edit">
            </div>

         }
    </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @Styles.Render("~/Content/Css/Team/TeamCreate.css")
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
