@model IEnumerable<FootballApp.WebUI.Models.TeamsDisplayViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="create-button">
    @Html.ActionLink("Create New", "Create")
</div>
<div class="teamindex-wrap">

<div class="teamlist">

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model) {
    <div class="teamlist-team">
            <div class="teamlist-data">

                <div class="teamlist-image">

                     @if (item.ImageSource != "")
                     {
                        <img src="@item.ImageSource" />

                     } else {
                        <img src="~/Content/Images/emptypfp.png" />
                     }
                 </div>
                <div class="teamlist-info">
                    <p class="teamlist-name">@Html.DisplayFor(modelItem => item.Name)</p>
                    <p class="teamlist-description">@Html.DisplayFor(modelItem => item.Description)</p>
               
                </div>
            </div>
            <div class="teamlist-button-wrap">
                <a class="teamlist-button">Visit profile</a>
            </div>
            
        
    </div>
    } 
    }
else
{
    <p> You are not part of any team.</p>
}
</div>
<div class="search-list-wrap">
    <div class="search-bar">
        <input type="text" id="search-bar" placeholder="Find a team" />
        <button id="search-button">Search</button>
    </div>
    <div class="search-list">
        <div class="search-team">
            <div class="searchteam-data">
                <div class="searchteam-image">
                    <img src="~/Content/Images/emptypfp.png" />
                </div>
                <div class="searchteam-info">
                    <p class="searchteam-name">No name</p>
                    <p class="searchteam-description">No description</p>
                </div>
            </div>
            <div class="searchteam-button-wrap">
                <a class="searchteam-button" >Visit</a>
            </div>  
        </div>
    </div>

</div>
</div>
@Styles.Render("~/Content/Css/Team/TeamIndex.css")
@Scripts.Render("~/Scripts/Teams/searchteam.js")


