@model FootballApp.WebUI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="changepassword-wrap">
    <div class="changepassword">

        <h4>Promeni šifru</h4>
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "error" })
            <div class="form-group">
                @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
                <label>Trenutna šifra</label>
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
                <label>Nova šifra</label>

                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                <label>Potvrdi šifru</label>

                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Promeni šifru" class="submit-button" />
                </div>
            </div>
        }
        @Html.ActionLink("< Nazad na profil", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@Styles.Render("/Content/Css/Manage/ChangePassword.css")        