@model FootballApp.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "";
}

<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/Content/Css/Register/register.css">
</head>
<body>
    <div class="wrap-out">
        <div class="wrap-in">
            <div class="register">
                <div class="register-brand">
                    <img class="logo" src="~/Content/Images/logo.png">
                </div>
                <div class="register-form">
                    <div class="register-msg">
                        <h1>Register</h1>
                        <p>Please enter required credentials.</p>

                    </div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new
                    {
                        @class = "form-horizontal",
                        role = "form",
                        enctype = "multipart/form-data"
                    }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-error" })
                        <div class="register-field">
                            <div class="register-label">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            </div>
                            <div class="register-input">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                            </div>
                        </div>
                        
                        <div class="register-field">
                            <div class="register-label">
                                <label for="Password">Image</label>
                            </div>
                            <div class="register-fileinput">
                                <input type="file" name="File" id="File" accept="image/*">
                            </div>
                        </div>
                        <div class="register-field">
                            <div class="register-label">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            </div>
                            <div class="register-input">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="register-field">
                            <div class="register-label">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            </div>
                            <div class="register-input">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="register-field">
                            <div class="register-label">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            </div>
                            <div class="register-input">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <input type="checkbox">
                        <label>Accept terms</label>
                        <div class="register-button-wrap">
                            <input class="register-button" type="submit" value="Register">
                        </div>
                    }
                    <div class="register-msg">
                        <p>
                            @Html.ActionLink("Already have an account?", "Login")
                        </p>
                    </div>

                </div>


            </div>
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
</body>

</html>

